# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
terraform.tfvars
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# VSCode or system files (optional)
*.DS_Store
.idea/
.vscode/

index.html
index.css